.el-upload-dragger {
    width: 500px !important;
    height: 80vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    border:0px !important;
}
.el-upload-list__item-thumbnail{
    background-image: url("./pdf.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.el-upload-list{
    max-height: 80vh;
    overflow: auto;
}
